[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	url = git@github.com:username/project.git
[branch "master"]
	remote = origin
	merge = refs/heads/master
[branch "gh-pages"]
	remote = origin
	merge = refs/heads/gh-pages
[remote "gc"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	url = https://code.google.com/p/project
[branch "gc-master"]
	remote = gc
	merge = refs/heads/master
